@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 38, 50, 56;
  }
}

html,
body {
  font-size: 1.15em; /* antes: 20px */
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  font-size: 0.9em; /* antes: 18px */
}